<?xml version="1.0"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Text>AKAFÖ Diamant</Text>
  <Nummernkreis>101</Nummernkreis>
  <Anfang>1723</Anfang>
  <Ende>1900</Ende>
  <OffsetX>5</OffsetX>
  <OffsetY>5</OffsetY>
  <EtikettenBreite>38.1</EtikettenBreite>
  <EtikettenHoehe>21.2</EtikettenHoehe>
  <RandLinks>9.75</RandLinks>
  <RandOben>10.7</RandOben>
  <FontCompanyName>SansSerif</FontCompanyName>
  <FontCompanySize>12</FontCompanySize>
  <FontSerialName>Courier New</FontSerialName>
  <FontSerialSize>12</FontSerialSize>
</Config>